{{#paper-sidenav
  class='md-whiteframe-z2 side-alerts'
  position='right'
  name='alerts'
  open=open
  onToggle=(action (mut open))
  lockedOpen=false
  closeOnClick=false
}}
  {{#paper-toolbar warn=true as |toolbar|}}
    {{#paper-toolbar-tools}}{{sensor.description}} - Alerts{{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{#if sortedAlerts}}
    <div class='layout-row layout-align-center-center'>
      {{#paper-button warn=true id='delete-all' raised=false onClick=(action this.attrs.onDelete sensor)}}Delete All{{/paper-button}}
    </div>
  {{/if}}
  {{#paper-content padding=false}}
    {{#paper-list}}
      {{#each sortedAlerts as |alert|}}
        {{alert-item alert=alert}}
        {{paper-divider class='side-alerts'}}
      {{else}}
        {{no-alerts-item}}
      {{/each}}
    {{/paper-list}}
  {{/paper-content}}
{{/paper-sidenav}}
