{{#paper-item class='md-3-line sensor accent-box' as |controls|}}
  <div class='md-list-item-text'>
    <p class='description'>{{sensor.description}}</p>
  </div>
  <div class='md-secondary'>
    {{#if hasNotifications}}
      {{#controls.button class='notifications' onClick=(action this.attrs.onNotificationAction sensor) warn=true fab=true mini=true}}
        {{notifications}}
      {{/controls.button}}
    {{else}}
      {{#controls.button class='notifications-none' onClick=(action this.attrs.onNotificationAction sensor) iconButton=true}}
        {{paper-icon 'notifications-none'}}
      {{/controls.button}}
    {{/if}}
    {{#controls.button iconButton=true class='delete' onClick=(action this.attrs.onDeleteAction sensor)}}
      {{paper-icon 'Delete'}}
    {{/controls.button}}
  </div>
  {{paper-divider}}
{{/paper-item}}
