<div class='layout-column'>
  {{header-component logout=(route-action 'logout')}}
  <div class='main-content'>
    {{outlet}}
  </div>
  {{#ember-notify closeAfter=5000 as |message close|}}
    <a {{action close}} class='close'>{{paper-icon "close" size=18}}</a>
    <span class='message-from-block message'>{{message.text}}</span>
  {{/ember-notify}}
</div>
