<div class='layout-row'>
  <div class='flex-30 flex-offset-35 flex-offset-sm-10 flex-sm-80 flex-offset-xs-0 flex-xs-100'>
    {{sensor-dialog-form
      showDialog=showSensorDialog
      closeDialog=(route-action 'closeSensorDialog')
      onSubmit=(route-action 'createSensor')
    }}
    {{confirm-deletion-dialog
      showDialog=showDeletionDialog
      prompt='Do you want to delete this sensor?'
      closeDialog=(route-action 'closeDeletionDialog')
      onConfirm=(route-action 'deleteSensor')
    }}
    {{#paper-list}}
      {{#paper-content class='md-whiteframe-z1'}}
        {{#each model as |sensor|}}
          {{sensor-item
            sensor=sensor
            onDeleteAction=(route-action 'openDeletionDialog')
            onNotificationAction=(route-action 'openAlerts')
            onCreateAction=(route-action 'createAlert')
          }}
        {{/each}}
      {{/paper-content}}
    {{/paper-list}}
    <div class='layout-row layout-align-center-center'>
      {{#paper-button id='add-sensor' fab=true raised=true onClick='openSensorDialog'}}
        {{paper-icon 'add' size=24}}
      {{/paper-button}}
    </div>
  </div>
</div>
{{alerts-sidenav sensor=currentSensor open=alerts onDelete=(route-action 'deleteAllAlerts')}}
